$sub-color: grey;
$main-color:black;

@mixin shrinkLabel{
	top: -14px;
	color: $main-color;
	font-size: 12px;
}

.input-div {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: .5rem;

	label{
		position: absolute;
		top: 14px;
		cursor: text;
		transition: 300ms ease all;
		color: $sub-color;

		&.shrink{
			@include shrinkLabel()
		}
	}

	input {
		border:none;
		border-bottom: 1px solid $sub-color;
		padding: 10px 10px 10px 5px;
		font-size: 18px;

		&:focus{
			outline: none;
		}

		&:focus ~ label{
			@include shrinkLabel();
		}
	}

	

}
