$black-color: #1c1c1c;
$white-color: white;
$blue-color-400: #4285f4;
$blue-color-500: #357ae8;

@mixin defaultStyle{
	padding: 1rem 3rem;
	max-width: 15rem;
	transition: all 300ms ease;
	cursor: pointer;
	border: none;
	text-transform: uppercase;

	a{
		text-decoration: none;
	}
}

.default {
	@include defaultStyle();
	color: $white-color;
	background-color: $black-color;
	
	&:hover{
		background-color: $white-color;
		border: 1px solid $black-color;
		color: $black-color;

		a{
			color: $black-color;
		}
	}

	a{
		color: $white-color;		
	}
	
}

.inverted {
	@include defaultStyle();
	color: $black-color;
	background-color: $white-color;
	border: 1px solid $black-color;

	&:hover{
		background-color: $black-color;
		color: $white-color;

		a{
			color: $white-color;
		}
	}

	a{
		color: $black-color;		
	}

	
}

.google-sign-in{
	@include defaultStyle();
	background-color: $blue-color-400;
	color: $white-color;

	&:hover{
		background-color: $blue-color-500;
	}

}
