.select-filter-div{
	display: flex;
	align-items: center;
	gap: .5rem;

	select{
		background-color: #f5f5f5;
		border: none;
		border-radius: 5px;
		padding: 10px;
		font-size: 1rem;
		width: 10rem;
	}
}
