.cart-icon-container{
	position: relative;
	width: 45px;
	height: 45px;
	cursor: pointer;

	img{
		width: 100%;
	}

	span{
		position: absolute;
		top: 40%;
		left: 50%;
		transform:translateX(-50%) ;
	}

}
