.input-search-div{
	display: flex;
	align-items: center;
	background-color: #f5f5f5;
	border-radius: 5px;
	padding: 0 10px;
	gap: .5rem;

	input{
		border: none;
		outline: none;
		padding: 10px 0;
		background-color: transparent;
		width: 18rem;
		font-size: 1rem;
	}
}
